@model ConsumeMoneyTreeApi.Models.Employeemodel

@{
    ViewBag.Title = "Create";
}




<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employeemodel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
            @Html.LabelFor(model => model.iEmpId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iEmpId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.iEmpId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.iCountryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.iCountryId, Model.Countries, "Select Country", new { @class = "form-control", id = "CountryDropdown" })
                @Html.ValidationMessageFor(model => model.iCountryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.iState, Model.States, "Select State", new { @class = "form-control", id = "StateDropdown" })
                @Html.ValidationMessageFor(model => model.iState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.iCity, Model.Cities, "Select City", new { @class = "form-control", id = "CityDropdown" })
                @Html.ValidationMessageFor(model => model.iCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sPhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sPhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sPhoneNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                @Html.LabelFor(model => model.dtDoB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.dtDoB, new { htmlAttributes = new { @class = "form-control" ,type="date"} })
                    @Html.ValidationMessageFor(model => model.dtDoB, "", new { @class = "text-danger" })
                </div>
            </div>

       


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#CountryDropdown').change(function () {
                var countryId = $(this).val();
                $('#StateDropdown').empty().append('<option value="">Select State</option>');
                $('#CityDropdown').empty().append('<option value="">Select City</option>');

                if (countryId) {
                    $.getJSON('@Url.Action("GetStates", "Employee")', { countryId: countryId }, function (data) {
                        $.each(data, function (i, item) {
                            $('#StateDropdown').append($('<option>').text(item.Text).val(item.Value));
                        });
                    });
                }
            });

            $('#StateDropdown').change(function () {
                var stateId = $(this).val();
                $('#CityDropdown').empty().append('<option value="">Select City</option>');

                if (stateId) {
                    $.getJSON('@Url.Action("GetCities", "Employee")', { stateId: stateId }, function (data) {
                        $.each(data, function (i, item) {
                            $('#CityDropdown').append($('<option>').text(item.Text).val(item.Value));
                        });
                    });
                }
            });
        });
    </script>
}

